{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "sanity",
    "sanity/typescript",
    "sanity/react",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@tanstack/eslint-plugin-query/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "react/require-default-props": 0,
    "no-use-before-define": 0
  }
}
